body {
      background-color: #f7f9fb;
      font-family: "Poppins", sans-serif;
      background: 
    url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='1' fill='%23cccccc' /%3E%3C/svg%3E")
    repeat;
  background-color: #fff;
    }
    .sidebar {
      height: 100vh;
      background-color: #2d6a4f;
      color: white;
      padding-top: 20px;
    }
    .sidebar h3 { text-align: center; margin-bottom: 30px; }
    .sidebar a {
      display:block; padding:10px 20px; color:white; text-decoration:none;
      border-radius:8px; margin:5px 0;
    }
    .sidebar a:hover { background-color: #40916c; }
    .filter-section {
      background: white; padding: 20px; border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1); margin-bottom: 20px;
    }
    .hidden-col { display:none; }